.dashboard {
    overflow-y: auto;
    background-color: #1F1F1F;
    margin-left: 15%;
    height: 100vh;
}

.w-85 {
    width: 85%;
}

.img-width-200 {
    max-width: 200px;
}

.h-150 {
    height: 150px;
}

.my-bg-dark {
    background-color: #252525;
}

.my-bg-black {
    background-color: #1F1F1F;
}

.my-bg-lightdark {
    background-color: #2E2E2E;
}

.my-bright-green {
    background-color: #66ff00;
}

.my-bright-red {
    background-color: #ff0000;
}

.my-bg-lightgray {
    background-color: #F8F9FA;
}

.logo {
    max-width: 50px;
    max-height: 50px;
}