@import "~bootstrap/scss/bootstrap";

// main {
//     background-color: lightcoral;
// }

#dashboard {
    overflow-y: auto;
}

.w-85 {
    width: 85%;
}

.bg-black {
    background-color: #1F1F1F
}

.bg-dark {
    background-color:#252525 
}

.img-width-200 {
    max-width: 200px;
}

.h-150 {
    height: 150px;
}