.menu-item-card {
  background-color: #252525;
  height: 70%;
  overflow: hidden;

  .img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .group-list-item {
    border-bottom: 1px solid #555;
  }

  .badge {
    font-size: 0.9rem;
    margin-right: 10px;
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .my-pill {
    border: none;
    padding: 2px 10px;
    background-color: #FF914D;
    color: white;
    font-weight: bold;
  }

  .my-pill-red {
    border: none;
    padding: 2px 10px;
    background-color: #eb1616;
    color: white;
    font-weight: bold;
  }

  // ICONA AGGIUNGI PIATTO

  .icon {
    &::before {
      content: '';
      display: inline-block;
      min-height: 25px;
      min-width: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &-add::before {
      background-image: url("data:image/svg+xml,%3Csvg width='448' height='448' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='0%25' y1='0%25' y2='100%25' id='a'%3E%3Cstop stop-color='%23EE790F' offset='0%25'/%3E%3Cstop stop-color='%23EB525A' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M416 176H272V32c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V272h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z' fill='url(%23a)' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  .js-add-sauce>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    transition: transform 0.3s ease;
    margin-top: 10px;
    margin-right: 10px;

    .icon {
      transition: transform 0.3s ease;
    }

    &:hover,
    &:focus {
      outline: none;

      .icon {
        transform: rotate(90deg) scale(1.2);
      }
    }
  }
}

// scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}


@media (max-width: 767px) {
  .menu-item-card {
    height: 60%;

    .responsive {
      display: flex;
      justify-content: center;

      .img-container {
        width: 250px;
        height: 250px;

      }
    }

    .info-responsive {
      text-align: center;
    }
  }
}