.offcanvas .form-control {
    background-color: #2E2E2E;
    color: white;
}

.offcanvas .form-control:focus {
    background-color: #2E2E2E;
    color: white;
    outline: none;
}

.offcanvas .form-control::placeholder {
    color: #bbb;
}

.offcanvas .form-check-input {
    background-color: #2E2E2E;
    border-color: #bbb;
    color: #fff;
}

.offcanvas .form-check-input:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.offcanvas .form-check-input:checked::before {
    color: #fff;
}

.offcanvas .form-check-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
}

.restaurant-offcanvas {
    width: 100%;
    height: 90vh !important;
    margin: 0 auto;

    .restaurant-offcanvas-body {
        width: 90%;
        margin: 0 auto;
    }
}

// Img input/img preview:

.img-preview-wrapper {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 120px; 
    
    img {
        display: block;
        height: 120px; 
        width: 120px; 
        object-fit: cover; 
        border-radius: 0.375rem; 
    }
  
    .remove-img-btn {
        display: none;
        position: absolute;
        top: 0.5em; 
        right: 0.5em;
        background-color: rgba(0, 0, 0, 0.6); 
        color: #fff;
        border: none;
        border-radius: 50%; 
        height: 1.5rem;
        display: none; 
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: background-color 0.3s ease;
  
      &:hover {
        background-color: rgba(255, 0, 0, 0.8); 
      }
  
      i {
        font-size: 1rem; 
      }
    }
  }
  

// Typlogies custom dropdown for restaurants-edit:

.custom-dropdown {
    position: relative;
    width: 100%;
    
    
    .dropdown-button {
        width: 100%;
        padding: 6.5px 10px;
        background-color: #2E2E2E;
        color: white;
        border: 1px solid white;
        border-radius: 6.5px;
        text-align: left;
        cursor: pointer;
        
        .selected-values {
            color: white;
        }

        .dropdown-placeholder {
            color: white;
        }
    }

    .dropdown-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #2E2E2E;
        border: 1px solid #DEE2E6;
        height: 260px;
        overflow-y: auto;
        z-index: 10;

        &.show {
            display: block;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            padding: 10px;
            cursor: pointer;
            color: white;

            &:hover {
                background-color: #444;
            }

            input[type="checkbox"] {
                margin-right: 10px;
            }
        }
    }
}


@media (max-width: 950px) {
    .restaurant-offcanvas {
        height: 100% !important;
    }
}


