.side-bar{

    width: 15%;
    background-color: #FF914D;

}

.fit-content{

    width:fit-content;
}


@media (max-width: 1050px) {

    .side-bar{
        i{
            display: block;
        }
    }

}

/* Mobile (max 767px) */
@media (max-width: 767px) {
    .side-bar{
        span{
            display: none;
        }
    }
}
